.try-it-out-section {
  break-inside: avoid;
}
.info-buttons-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.info-button {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: fit-content;
  padding: 0.3rem 1rem;
  border-radius: 1rem;

  &.run-code {
    background-color: #3dc285;
    border: 1mm solid #30885f;
  }
  &.save-code {
    background-color: #407093;
    border: 1mm solid #2d4658;
  }
}
