.try-it-out-section {
  break-inside: avoid;

  .try-it-out-container {
    border-radius: var(--section-card-border-radius);
    background-color: var(--section-card-color);
    margin-top: 3mm;
    padding-top: 1mm;
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.08);
  }

  p {
    text-align: center;
    color: rgb(64, 64, 64);
    margin-bottom: 0;
  }
}
.info-buttons-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
.info-button {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: fit-content;
  padding: 0.3rem 1rem;
  border-radius: 1rem;

  &.run-code {
    background-color: #3dc285;
    border: 1mm solid #30885f;
  }
  &.save-code {
    background-color: #407093;
    border: 1mm solid #2d4658;
  }
}
