.get-ready {
  display: flex;

  .get-ready-steps {
    p {
      margin-top: 0.5rem;
    }
  }

  .get-ready-image {
    height: 30mm;
    max-width: 100%;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px);
  }
}
