.get-ready {
  display: flex;
  align-items: flex-start;

  .get-ready-steps {
    p {
      margin-top: 0.5rem;
    }
  }

  .get-ready-image {
    margin-top: 2mm;
    margin-left: auto;
    max-height: 30mm;
    max-width: 70mm;
    width: auto;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(2px 2px 2px);
  }
}
