.get-ready {
  display: flex;

  .get-ready-steps {
    p {
      margin-top: 0.5rem;
    }
  }

  .project-image {
    margin-left: auto;
    height: 30mm;
    object-fit: contain;
    // background: #ab3d3d;
    filter: drop-shadow(2px 2px 2px);
  }
}
