.header {
  margin-bottom: 0;
}

.get-ready {
  display: flex;

  .get-ready-steps {
    p {
      margin-top: 0.5rem;
    }
  }

  .project-image {
    margin-left: auto;
    max-width: 250px;
    filter: drop-shadow(2px 2px 2px );
  }
}
