# Angular ignores
dist/
tmp/
out-tsc/
bazel-out/

node_modules/
npm-debug.log
yarn-error.log

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.angular/
.sass-cache/
connect.lock/
coverage/
libpeerconnection.log
testem.log
typings/

.DS_Store
Thumbs.db

# CLI output
output/

# Ignore compiled files in types/ source folder (should only be in dist/)
types/*.js
types/*.d.ts

# Claude
.claude/
.playwright-mcp/
.mcp.json

# Environment variables
.env

# Templates
docs/example-templates/
docs/example-previous-lessons/

# Python sidecar ignores
.venv/
.venv2/
packages/core/src/docling-cleaner/bin
packages/core/src/docling-cleaner/build
packages/core/src/docling-cleaner/dist

TODO.md
docs/*.txt
