.test-yourself-button {
  display: flex;
  background-color: rgb(220, 180, 105);
  border-radius: 1rem;
  padding: 0.5rem;
  max-width: 50%;

  justify-content: center;
  align-items: center;

  a {

  }
}
