.test-yourself-section {
  break-inside: avoid;

  p {
    text-align: center;
    margin-bottom: 0;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-yourself-button {
  margin-top: 5mm;
  display: flex;
  background-color: rgb(220, 90, 43);
  border: 1mm solid rgb(212, 76, 27);
  border-radius: 10mm;
  padding: 15px 32px;
  max-width: 50%;
  cursor: pointer;
  font-family: 'PoppinsSemiBold';
  font-size: 13pt;
  gap: 5mm;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.08);

  justify-content: center;
  align-items: center;
  text-decoration: none !important;

  .click-icon {
    width: 10mm;
  }

  p {
    margin: 0;
    color: white;
  }
}

.test-yourself-text {
  margin: 0.5rem 0 0;
  font-size: 0.95rem;
  line-height: 1.4;
  white-space: pre-wrap;
  color: #333;
}
