:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.pdf-preview {
  background-color: #171717;
  flex: 1;
  min-height: 0; // For flex child scrolling
  width: 100%;
  overflow-y: auto;
  padding: 40px 0;
}

// Pagedjs container
::ng-deep .pagedjs_pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Each page wrapper
::ng-deep .pagedjs_page {
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

// The actual paper sheet
::ng-deep .pagedjs_sheet {
  background-color: white;
}

// All headers aligned in the center
h3 {
  color: rgb(40, 40, 40);
  padding: 1mm;
  background-color: rgba(235, 102, 50, 0.15);
  border-radius: 3mm;
  text-align: center;
  font-size: 23px;
  font-family: 'PoppinsSemiBold';
}

.oneliner {
  text-align: center;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.lesson-preview-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12mm;
  width: 100%;
}
.header-language {
  text-align: right;
}
.lesson-logo {
  display: block;
}
.language-badge {
  display: block;
  width: 32mm;
  height: 18mm;
  object-fit: contain;
  object-position: right top;
  margin-right: 20mm;
}

.preface-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5mm;

  .preface-image {
    max-height: 30mm;
    max-width: 70mm;
    width: auto;
    height: auto;
    object-fit: contain;
  }
}

h3 {
  margin-bottom: 0.25rem;
}
