:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.pdf-preview {
  background-color: #171717;
  flex: 1;
  min-height: 0; // For flex child scrolling
  width: 100%;
  overflow-y: auto;
  padding: 40px 0;
}

// Pagedjs container
::ng-deep .pagedjs_pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Each page wrapper
::ng-deep .pagedjs_page {
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

// The actual paper sheet
::ng-deep .pagedjs_sheet {
  background-color: white;
}

// All headers aligned in the center
h3 {
  color: #ff9a86;
  box-shadow: 0mm 1mm;
  padding: 1mm 20mm;
  background-color: rgb(69, 69, 69);
  border-radius: 3mm;
  text-align: center;
  font-size: 23px;
  font-family: 'PoppinsSemiBold';
}

.preface-section {
  .details-section {
    margin-top: 5mm;
    padding-bottom: 5mm;
    padding-top: 1mm;
    border-radius: 5mm;
    border: 1mm solid rgb(189, 189, 189);
    background-color: var(--offwhite-color);
    box-shadow:
      0 4px 6px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.08);

    .oneliner {
      margin-top: 4mm;
      margin-left: 12mm;
      margin-right: 12mm;
      font-family: 'PoppinsSemiBold';
      text-align: center;
      margin-bottom: 0.25rem;
      font-weight: bold;

      .project-title {
        text-align: center;
        font-size: 15pt;
        p {
          margin: 0;
        }
      }
    }
  }
}

.lesson-preview-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12mm;
  width: 100%;
}
.header-logo {
  margin-left: -4mm;
}
.header-badges {
  display: flex;
  align-items: flex-start;
  gap: 4mm;
  justify-content: flex-end;
  margin-right: 20mm;
}
.lesson-logo {
  display: block;
}
.language-badge {
  display: block;
  width: 32mm;
  height: 18mm;
  object-fit: contain;
  object-position: right top;
}
.preface-language-badge {
  margin-top: 10mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .preface-language-badge-icon {
    width: 15mm;
    object-fit: contain;
  }

  .details {
    margin-top: 5mm;

    p {
      text-align: center;
      margin: 0;
    }
  }
}
.level-badge {
  display: block;
  width: 20mm;
  height: 18mm;
  object-fit: contain;
  object-position: right top;
}

.preface-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5mm;

  .preface-image {
    max-height: 30mm;
    max-width: 70mm;
    width: auto;
    height: auto;
    object-fit: contain;
  }
}

h3 {
  margin-bottom: 0.25rem;
}
